<main>
    <h2>Home</h2>

    {{#each books}}

    <div class="book">
        <h3>
            titulo:{{this.title}}
        </h3>
        <p>
            Quantidade de paginas: {{this.pageqty}}
        </p>
        <div class="buttons">
            <a href="/book/{{this.id}}" class="mais">Ver mais</a>
            <a href="/edit/{{this.id}}" class="editar">Editar</a>
            <form action="/delete" method="POST">
            <input type="hidden" nane="id" value="{{this.id}}">
            <button class="excluir">Exluir</button>
            </form>
        </div>
    </div>

    {{/each}}
</main>